#events_block {
	display: grid;
	grid-column-gap: 2%;
	height: auto;
}

#events_block.list .single_event img, #events_block.grid2 .single_event img {
	margin-bottom: 3%;
}

#events_block.list .single_event img.size-auto, #events_block.list .single_event img.size-thumbnail, #events_block.list .single_event img.size-medium, #events_block.list .single_event img.size-large, #events_block.grid2 .single_event img.size-auto, #events_block.grid2 .single_event img.size-thumbnail, #events_block.grid2 .single_event img.size-medium, #events_block.grid2 .single_event img.size-large {
	float: left;
	margin-right: 3%;
	margin-bottom: 3%;
}

#events_block.list .single_event img.size-full, #events_block.grid2 .single_event img.size-full {
	max-width: 100%;
	width: 100%;
}

#events_block.grid3 .single_event img, #events_block.grid4 .single_event img, #events_block.responsive .single_event img {
	margin-bottom: 3%;
}

#events_block.grid3 .single_event img.size-thumbnail, #events_block.grid4 .single_event img.size-thumbnail, #events_block.responsive .single_event img.size-thumbnail {
	float: left;
	margin-left: 3%;
	margin-right: 3%;
}

#events_block.grid3 .single_event img.size-full, #events_block.grid4 .single_event img.size-full, #events_block.responsive .single_event img.size-full {
	max-width: 100%;
	width: 100%;
}

#events_block.list, #events_block.grid2, #events_block.grid3, #events_block.grid4 {
	grid-template-columns: 1fr;
}

@media screen and (min-width: 600px) {
	#events_block.grid2, #events_block.grid3, #events_block.grid4 {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media screen and (min-width: 768px) {
	#events_block.grid3, #events_block.grid4 {
		grid-template-columns: repeat(3, 1fr);
	}
}

@media screen and (min-width: 992px) {
	#events_block.grid4 {
		grid-template-columns: repeat(4, 1fr);
	}
}

#events_block.responsive {
	grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

#events_block.has-text-align-center .single_event {
	text-align: center;
}

#events_block.has-text-align-center .single_event img {
	display: inline-block;
}

#events_block .single_event {
	margin-bottom: 20px;
}

#events_block .single_event .entry-date .event_date {
	display: block;
}

/*# sourceMappingURL=events_block.css.map */