#events_block{
    display:grid;
    grid-column-gap: 2%;
    height: auto;

    &.list, &.grid2{
        .single_event{
            img{
                margin-bottom: 3%;
                &.size-auto, &.size-thumbnail, &.size-medium, &.size-large{
                    float: left;
                    margin-right: 3%;
                    margin-bottom: 3%;
                }

                &.size-full{
                    max-width: 100%;
                    width: 100%;
                }
            }
        }
    }

    &.grid3, &.grid4, &.responsive{
        .single_event{
            img{
                margin-bottom: 3%;
                &.size-thumbnail{
                    float: left;
                    margin-left: 3%;
                    margin-right: 3%;
                }
                &.size-full{
                    max-width: 100%;
                    width: 100%;
                }
            }
        }
    }
    
    &.list, &.grid2, &.grid3, &.grid4{
        grid-template-columns: 1fr;
    }

    @media screen and(min-width: 600px){
        &.grid2, &.grid3, &.grid4{
            grid-template-columns: repeat(2, 1fr);
        }
    }

    @media screen and(min-width: 768px){
        &.grid3, &.grid4{
            grid-template-columns: repeat(3, 1fr);
        }
    }

    @media screen and(min-width: 992px){
        &.grid4{
            grid-template-columns: repeat(4, 1fr);
        }
    }

    &.responsive{
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr) );
    }

    &.has-text-align-center{
        .single_event{
            text-align: center;

            img{
                display: inline-block;
            }
        }
    }

    .single_event{
        margin-bottom: 20px;

        .entry-date{
            .event_date{
                display: block;
            }
        }
    }
}